.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f4faff;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.text-field {
    -fx-pref-width: 250px;
}

.button {
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.delete-btn {
    -fx-background-color: #ff4d4d;
    -fx-text-fill: white;
}

.cancel-btn {
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
}
